.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;

    padding-right: 100px;

    .btn-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 78px;
        bottom: 0;
        background-color: #26262b;
        transition: .5s;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 16px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA3OS41MzYgNzkuNTM3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA3OS41MzYgNzkuNTM3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI5Ljk0Miw3NC41NjUgMzQuNzk1LDc0LjU2NSAzNC43OTUsNTQuNjgxIDQ0LjczOSw1NC42ODEgNDQuNzM5LDc0LjU2NSA2OS41OTUsNzQuNTY1ICAgIDY5LjU5NSw0NC43MzkgNzkuNTM2LDQ0LjczOSAzOS43NjksNC45NzEgMCw0NC43MzkgOS45NDIsNDQuNzM5ICAiIGZpbGw9IiNlYWJmMmIiLz48L3N2Zz4=);
            transition: .5s;
        }
    }

    &:hover {

        .btn-icon {
            width: 100%;

            &::before {
                width: 30px;
                height: 28px;
            }
        }
    }
}